.container{
   padding: 0px 0px!important;
   width: 80%!important;
   max-width: 1200px!important;
}

.titleHeader{
   display: flex;
   justify-content: center!important;
   padding-top: 30px;
}

.icon{
   margin-left: 10px;
   color: rgb(52, 199, 224);
}